#dark-light{
    border: none;
    background: none;
  }#dark-light img{
    width: 33px;
    cursor: pointer;
  }
  .light header {
    background: white;
    transition: 1s;
  }
  .light header.sticky {
    background: white;
    transition: 1s;
  }
  .light .nav-link {
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    position: relative;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s;
  }
  .light .nav-link::before {
    background: black;
    transition: 1s;
  }
  .light .company-logo a {
    color: black;
    transition: 1s;
  }
.light #Home{
    padding: 50px 0;
    background-image: linear-gradient(to right, #57b8ff 0% 50%, #57b8ff 50% 100%);
    transition: 1s;
}
.light .left-p p {
    color: white;
    transition: 0.9s;
}
.light body {
    background: white;
    transition: 1s;
}
.light .bacgroun{
    background-color: white;
    transition: 1s;
    color: black;
}
.light .sec-2{
    background-color: white;
    transition: 1s;
}
.light .home-text h3{
    color: black;
    transition: 1s;
}
.light .home-text p{
    color: black;
    transition: 1s;
}
.light .bx-x {
  color: black;
  transition: 1s;
}
.light .bx-menu{
  color: black;
  transition: 1s;
}

.light .work {
  background: white;
  transition: 1s;
}
/* .light .products .tx h2  {
    color: black;
} */