@import url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);
@import url(./dark.css);
@import url(./loading.css);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ================= BASE ==================== */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.bx {
  font-size: 2.5rem;
}
body {
  background-color: #efefef;
}

html {
  scroll-behavior: smooth;
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: crimson;
  color: #fff;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.348);
}
.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
}

/* -- BODY -- */
body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background-color: black;
  color: white;
}
/*  Header start*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 90;
  padding: 16px 3%;
  transition: 0.7s;
}
header.sticky {
  background: #043E51;
  color: white;
  transition: 0.7s;
  z-index: 90;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.flex-nav-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 90;
}
.company-logo a{
color: white;
font-size: 20px;
}
.nav-fl{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-items {
  display: flex;
}

.nav-item {
  margin: 0 1.9rem;
}
.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link::before {
  content: "";
  background: white;
  width: 100%;
  height: 0.06rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 500ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-btn {
  padding: 13px 17px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background: #145e76;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  z-index: 9;
}
.nav-btn:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: black;
  transform: translateY(-5px);
}

.menu-toggle {
  display: none;
}
.bx-menu,
.bx-x {
  cursor: pointer;
  color: white;
  display: none !important;
}
/* Header end */

/* Home start */

#Home {
  padding: 50px 0;
  background-image: linear-gradient(to right, black 0% 50%, #57b8ff 50% 100%);
}

.home {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 87%;
}
.home-left {
  width: 50%;
}

.left-txt {
  margin-top: 24px;
}
.left-txt h1 {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 70px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.left-p {
  margin-top: 20px;
}
.left-p p {
  font-size: 18px;
  line-height: 28px;
  color: #999999;
}
.left-btns {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
.left-btns a {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  padding: 21px 34px;
  transition: 0.3s;
}
.left-btns a:hover {
  background-color: var(--title-color);
}
.home-right {
  width: 50%;
}

/* Home end */

/* Section 1 start */

.orqa{
  background-color: #FDD04A;
  padding: 90px 0;
}
.foter-sec .yon{
  display: flex;
  justify-content: space-between;
  gap: 18px;
  width: 93%;
  margin: auto;
}
/* Section 1 end */

/* Section 2 start */

.products .tx {
  text-align: center;
  width: 65%;
  line-height: 25px;
  margin: auto;
}
.products .tx .p1 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #57b8ff;
  margin-bottom: 20px;
}
.products .tx h2 {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 20px;
}
.products .tx .p2 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: white;
}

.products {
  background-image: url(../img/IMAGE\ \(1\).png);
  background-position: 30% 30%;
  background-size: cover;
  padding: 90px 0px;
  background-attachment: fixed;
}

.all-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
}

.product {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  color: #21201e;
  width: 47%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.2rem;
  margin: 1.2rem;
  transition: 0.3s;
  font-family: Arial, sans-serif;
}

.product-title {
  font-family: Orbitron, sans-serif;
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  text-transform: capitalize;
}
.product-price {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: rgba(223, 223, 223, 0.8);
}

.product:hover {
  box-shadow: 0px 0px 16px 1px #eeeeeeca;
}

/* Section 2 end */

/* Section 3 start */
:root {
  --bg-color: #ffffff;
  --text-color: #000;
  --secound-color: #a09dab;
  --main-color: #f75023;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}
.sec-2{
  background-color: black;
}
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 9px;
  width: 92%;
}
.home-text {
  width: 55%;
}
.home-text h2 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57b8ff;
}
.home-text h3 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 74px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 20px;
}
.home-text p {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(223, 223, 223, 0.8);
}
.btn {
  padding: 13px 17px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background: #145e76;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: black;
  transform: translateY(-5px);
}

/* Section 3 end */

/* Section 4 start */
.work {
  background: #000016;
  padding: 20px 0px
}

.work .content {
  display: flex;
  margin-top: 20px;
  width: 95%;
  margin: auto;
}

.work .content .card {
  width: 70%;
  margin: 13px;
}

.work .content .card-img {
  position: relative;
  width: 100%;
  height: 560px;
  border-radius: 10px;
  overflow: hidden;
}

.work .content .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: .5s ease
}

.work .content .card-img img:hover {
  transform: scale(1.2);
}
/* Section 4 end */

/* Section 5 start */
.bacgroun {
  background-color: black;
  padding: 60px 0;
}
.Home {
  width: 90%;
}
.Home .fle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.fle h1 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57b8ff;
  margin-bottom: 20px;
}
.fle .p1 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 74px;
  text-transform: capitalize;
}

.Home .box {
  width: 55%;
}
.box img {
  width: 100%;
}
.Home .box2 {
  width: 50%;
}
.box2 img {
  width: 100%;
  height: 177px;
}
.flex {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.flee {
  display: flex;
  gap: 30px;
}
.box p {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #57b8ff;
}

/* Section 5 end */

/* Footer start  */

footer{
  background-image: url(../img/foter.png);
  background-size: cover;
  width: 100%;
  padding: 90px 0;
}

.foter-sec h2{
  width: 70%;
  margin: auto;
}
.foter-sec .p2{
  text-align: center;
  width: 65%;
  line-height: 25px;
  margin: auto;
}
.foter-sec h2 {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  text-transform: capitalize;
  color: #141820;
  margin-bottom: 40px;
}
.foter-sec .p2 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #141820;
}

.foter-sec .fl{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.foter-sec .fl input{
  width: 50%;
  border: none;
  outline: none;
  padding: 0px 15px;
}
.foter-sec .fl a{
  background: #57B8FF;
  padding: 15px 15px;
  color: white;
}

/* Footer end */

@media (max-width: 1090px) {
  .Home .box {
    width: 100%;
  }
  .flex {
    flex-direction: column;
  }
  .box2 img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 990px) {
  .nav-btn {
    display: none;
  }
  /* ================= HEADER ================ */
  header {
    padding: 0.5rem 1rem;
  }
  .navbar {
    background-color: #989d9f;
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 500ms;
  }
  .show-navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .menu-toggle {
    display: block;
  }
  .bx-menu {
    display: block !important;
  }
  .show-bx {
    display: block !important;
  }
  .hide-bx {
    display: none !important;
  }

  .Home .fle {
    flex-direction: column;
    text-align: center;
  }
  .fle .p1 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 10px;
  }

.foter-sec h2{
  width: 90%;
}
.foter-sec .p2{
  width: 85%;
}
.foter-sec h2 {
  font-size: 50px;
  line-height: 60px;
}
.foter-sec .p2 {
  font-size: 17px;
}
.foter-sec .fl input{
  width: 55%;
}

}
@media (max-width: 950px) {
  .home {
    justify-content: center;
    width: 95%;
    text-align: center;
  }
  .home-left {
    width: 100%;
  }
  .left-btns {
    justify-content: center;
    gap: 30px;
  }
  .home-right {
    width: 100%;
  } 
}
@media (max-width: 850px) {
  .home {
    flex-direction: column;
  }
  .home-text {
    width: 90%;
  }
  .home-text h3 {
    font-size: 40px;
    line-height: 60px;
  }
  .home-text p {
    font-size: 14px;
    line-height: 25px;
  }

.work .content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 95%;
  margin: auto;
}
.work .content .card {
  width: 80%;
  margin: auto;
}
}
@media (max-width:800px){
  .products .tx {
    width: 90%;
  }
  .products .tx h2 {
    font-size: 45px;
    line-height: 60px;
  }
  .products .tx .p2 {
    font-size: 16px;
    line-height: 32px;
  }
  .all-products {
    flex-direction: column;
  }
  .product {
    width: 70%;
  }
  .product-title {
    font-size: 22px;
  }
  .product-price {
    font-size: 13px;
  }

  .foter-sec .yon{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 18px;
    width: 93%;
    margin: auto;
  }
  .foter-sec .yon a{
    width: 36%;
    margin: auto;
  }
}
@media (max-width: 500px) {
  #Home {
    padding: 50px 0;
    background-image: linear-gradient(to bottom, black 60% 50%, black 0% 50%);
  }
  .home {
    display: flex;
    flex-direction: column;
    width: 89%;
  }
  .home-left {
    width: 100%;
  }
  .left-txt h1 {
    font-size: 33px;
    line-height: 60px;
  }
  .left-p p {
    font-size: 16px;
    line-height: 25px;
    color: #999999;
  }
  .home-right {
    width: 80%;
  }
  
  .products .tx {
    width: 95%;
  }
  .products .tx h2 {
    font-size: 40px;
    line-height: 55px;
  }
  .products .tx .p2 {
    font-size: 14px;
    line-height: 32px;
  }
  .product {
    width: 90%;
  }
  .product-title {
    font-size: 20px;
  }
  .home-text {
    width: 95%;
  }
  .home-text h3 {
    font-size: 30px;
    line-height: 50px;
  }
  .fle .p1 {
    font-size: 25px;
  }
  .flee {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Home .box2 {
    width: 100%;
  }

.foter-sec h2{
  width: 96%;
  margin: auto;
}
.foter-sec h2 {
  font-size: 35px;
  line-height: 65px;
  margin-bottom: 25px;
}
.foter-sec .p2 {
  font-size: 17px;
  line-height: 32px;
}
.foter-sec .yon{
  width: 97%;
  margin: auto;
}
.work .content .card {
  width: 95%;
}
.work .content .card-img {
  position: relative;
  width: 100%;
  height: 500px;
}
.work .content .card {
  width: 95%;
}
}